body{
    margin: 0;
}

.landing-page{
    background-color: #ffffff;
    background-size: 100%;
}

.landing-page, .left-page, .right-page{
    height: 100%;
    overflow: hidden;
}

/* Navbar CSS Style */
.top-nav{
    overflow: hidden;    
    margin-right: 100px;
}

.top-nav a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;    
}


.left-page{
    width: 40%;
    float: left;
    background-color: yellow;
}

.right-page{
    width: 60%;
    float: right;
    background-color: rebeccapurple;
}